{% extends 'base.html.twig' %}

{% block title %}Détails de la photo{% endblock %}

{% block body %}
<h1>Détails photo ({{ picture.id }})</h1>
<twig:BootstrapButton type="primary" isOutlined path="{{ path('app_picture') }}" text="Retourner à la liste" />

<div>
    <img class="picture-img" src="{{ picture.filename }}" />
</div>

<div>
    <h3>Date: {{ picture.date|date('d/m/Y') }}</h3>
    <h3>Évènement: {{ picture.event is null ? "Aucun" : picture.event.title}}</h3>

    <h3>Description</h3>
    <p>{{ picture.description }}</p>
</div>

{% endblock %}