{% from 'macros/navlink.macro.twig' import nav_link %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">Mes photos!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{ nav_link('Accueil', 'app_home') }}
            {{ nav_link('Tableau de bord', 'app_dashboard') }}
            {{ nav_link('Mes photos', 'app_picture') }}
            {{ nav_link('Mes évènements', 'app_event') }}

            {{ nav_link('Gestion des utilisateurs', 'app_user') }}

            {% if app.user %}
            {{ nav_link('Se déconnecter', 'app_logout') }}
            {% else %}
            {{ nav_link("S'inscrire", 'app_register') }}
            {{ nav_link('Se connecter', 'app_login') }}
            {% endif %}
        </ul>
    </div>
    </div>
</nav>