{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}

<h2>Gestion des utilisateurs</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>E-Mail</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Rôles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.email }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>
                <twig:BootstrapFormModal
                    btnText="Affecter les rôles" btnType="warning"
                    modalId="user-role-modal-{{ user.id }}"
                    modalTitle="Modifier les rôles "
                >

                    <p>Modifier les rôles de {{ user.firstname }} {{ user.lastname}}</p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="user-role-modal-{{ user.id }}-user" disabled {% if user|has_role('ROLE_USER') %}checked{% endif %}>
                                <label class="form-check-label" for="user-role-modal-{{ user.id }}-user">
                                    Utilisateur (par défaut)
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="user-role-modal-{{ user.id }}-admin" {% if user|has_role('ROLE_ADMIN') %}checked{% endif %}>
                                <label class="form-check-label" for="user-role-modal-{{ user.id }}-admin">
                                    Administrateur
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="user-role-modal-{{ user.id }}-gest" {% if user|has_role('ROLE_GEST') %}checked{% endif %}>
                                <label class="form-check-label" for="user-role-modal-{{ user.id }}-gest">
                                    Gestion des utilisateurs
                                </label>
                            </div>
                        </li>
                    </ul>


                    {{ dump(user.roles) }}


                </twig:BootstrapFormModal>
            </td>
            <td>
                <twig:BootstrapButton path="{{ path('app_user_delete', { id: user.id }) }}" text="Supprimer" type="danger" />
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
